<html lang="en" dir="ltr">
   ##layout/head##
   <body class="">
      <div class="page">
         <div class="flex-fill">
            ##layout/header##
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                      <h1 class="page-title">
                        Gallery
                      </h1>
                      <div class="page-subtitle">%%count%% photos</div>
                    </div>
                    <div class="row row-cards">
                        %%observations%%
                    </div>
                  </div>
            </div>
         </div>
      </div>
   </body>
</html>